#first{
    background-color: black;
    border: solid white;
    border-width: 10px;
}

body{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Regular Libre Baskerville';
}

.poster{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;
}

.motivation{
    border: 5px solid indianred;
    width: 100%;
}
p{
    color: white;
}

h1{
    color: white;
}